{% extends "login/base.html" %}
{% load static %}
{% block content %}
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Tour Packages				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="packages.html"> Tour Packages</a></p>
						</div>	
					</div>
				</div>
			</section>

			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d1.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Harmony Hotel  </span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Turkey, Alanya</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 10.05 to 17.05</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>7 days in Standard room</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>breakfast</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">440 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d2.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Deevona Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Egypt</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 12.05 to 19.05</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>7 days in Standard room</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>breakfast</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">330 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d3.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Concordia Hotel </span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Turkey, Alanya</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 15.05 to 23.05</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>8 days in Standard room</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>all inclusive</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>												
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">292 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d4.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Senza Hotels</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Greece, Heraklion</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 3.06 to 10.06</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>7 days in Double Standard</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>all inclusive</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>									
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">320 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d5.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Tivoli Spa Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Thailand, Phuket Island</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 15.05 to 22.05</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>7 days in Superior room</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>breakfast</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>										
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">330 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{% static '/img/hotels/d6.jpg' %}" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Hilton Star Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
										View on map   |   49 Reviews
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>City, Country</span>
											<span>Ireland, Dublin</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Date</span>
											<span>from 20.06 to 29.06</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Duration</span>
											<span>8 days in Superior room</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Meals</span>
											<span>breakfast</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Tourist</span>
											<span>1 adult</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Flight</span>
											<span>included</span>
										</li>										
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">420 000tg</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>																														
					</div>
				</div>	
			</section>
	
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Did not find your Package? <br>
								Feel free to ask us. <br>
								We‘ll make it for you
							</h1>
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
							</p>
							<a href="#" class="primary-btn text-uppercase">request custom price</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="{% static '/img/packages/about-img.jpg' %}" alt="">
						</div>
					</div>
				</div>	
			</section>
			{% endblock %}