{% extends "login/base.html" %}
{% load static %}
{% block content %}

<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Sign Up
                </h1>	
            </div>	
        </div>
    </div>
</section>

<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
          <form class="login100-form validate-form">
              <span class="login100-form-title p-b-26">
                  Welcome
              </span>
              <span class="login100-form-title p-b-48">
                  <i class="zmdi zmdi-font"></i>
              </span>

              <div class="wrap-input100 validate-input" >
                  <input class="input100" type="text" name="Name">
                  <span class="focus-input100" data-placeholder="Name"></span>
              </div>

              <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <input class="input100" type="text" name="email">
                <span class="focus-input100" data-placeholder="Email"></span>
            </div>

              <div class="wrap-input100 validate-input" data-validate="Enter password">
                  <span class="btn-show-pass">
                      <i class="zmdi zmdi-eye"></i>
                  </span>
                  <input class="input100" type="password" name="pass">
                  <span class="focus-input100" data-placeholder="Password"></span>
              </div>

              <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <button class="login100-form-btn">
                        Sign Up
                      </button>
                  </div>
              </div>

              <div class="text-center p-t-115">
                  <span class="txt1">
                    Have an account?
                  </span>

                  <a class="txt2" href="{% url 'log_in' %}">
                      Log in
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}